<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Coach">
    <!-- 코칭스태프/임원 등록 -->
    <insert id="coachSave" parameterType="com.letskuf.dto.CoachDTO" useGeneratedKeys="true" keyProperty="coachId">
        insert into coach(
         name
        ,birth_date
        ,team_id
        ,type_gbn
        ,position
        ,file_attached
        ) values (
         #{name}
        ,#{birthDate}
        ,#{teamId}
        ,#{typeGbn}
        ,#{title}
        ,#{fileAttached}
        )
    </insert>

    <!-- 코칭스태프/임원 수정 -->
    <update id="coachUpdate" parameterType="com.letskuf.dto.CoachDTO">
        update coach
        set name = #{name},
            birth_date = #{birthDate},
            position = #{title},
            file_attached = #{fileAttached}
        where coach_id = #{coachId}
    </update>

    <!-- 코칭스태프/임원 삭제 -->
    <delete id="coachDelete" parameterType="int">
        delete
          from coach
         where coach_id = #{coachId}
    </delete>

    <!-- playerFileListMap resultMap 정의 -->
    <resultMap id="coachFileListMap" type="com.letskuf.dto.CoachFileDTO">
        <result property="originalFileName" column="original_file_nm" />
        <result property="storedFileName" column="stored_file_nm" />
        <result property="coachId" column="coach_id" />
        <result property="fileId" column="file_id" />
    </resultMap>

    <!-- 코칭스태프/임원 사진 조회 -->
    <select id="coachFileListByCoachId" parameterType="int" resultMap="coachFileListMap">
        select original_file_nm
             ,stored_file_nm
             ,coach_id
             ,file_id
        from coach_photo_file
        where coach_id = #{coachId}
    </select>

    <!-- 코칭스태프/임원 사진 등록 -->
    <insert id="coachFileSave" parameterType="com.letskuf.dto.CoachFileDTO" useGeneratedKeys="true" keyProperty="fileId">
        insert into coach_photo_file(
         original_file_nm
        ,stored_file_nm
        ,coach_id
        ) values (
         #{originalFileName}
        ,#{storedFileName}
        ,#{coachId})
    </insert>

    <!-- 코칭스태프/임원 사진 삭제 -->
    <delete id="coachFileDelete" parameterType="int">
        delete
          from coach_photo_file
         where file_id = #{fileId}
    </delete>

    <!-- resultMap 정의 -->
    <resultMap id="coachListMap" type="com.letskuf.dto.CoachDTO">
        <result property="coachId" column="coach_id" />
        <result property="name" column="name" />
        <result property="birthDate" column="birth_date" />
        <result property="teamNm" column="team_nm" />
        <result property="title" column="title" />
    </resultMap>

    <!-- 코칭스태프/임원 전체 조회 -->
    <select id="coachList" resultMap="coachListMap">
        select c.coach_id
              ,c.name
              ,c.birth_date
              ,t.team_nm
              ,c.position as title
        from (
        select
         coach_id
        ,name
        ,birth_date
        ,team_id
        ,position
        from coach
        order by coach_id asc
        ) c
        left join team t on c.team_id = t.team_id
        limit #{recordCountPerPage} offset #{firstIndex}
    </select>

    <!-- 코칭스태프/임원 전체 건수 조회-->
    <select id="coachListCnt" parameterType="com.letskuf.dto.CoachDTO" resultType="java.lang.Integer">
        select COUNT(coach_id)
        from coach
    </select>

    <!-- coachDetailListMap resultMap 정의 -->
    <resultMap id="coachDetailListMap" type="com.letskuf.dto.CoachDTO">
        <result property="name" column="name" />
        <result property="title" column="title" />
        <result property="typeGbn" column="type_gbn" />
    </resultMap>

    <!-- 코칭스태프/임원 상세 조회(teamId에 따른) -->
    <select id="coachListByTeamId" parameterType="int" resultMap="coachDetailListMap">
        select c.name
              ,c.position as title
              ,c.type_gbn
        from coach c
        where c.team_id = #{teamId}
    </select>

    <!-- coachDetailMap resultMap 정의 -->
    <resultMap id="coachDetailMap" type="com.letskuf.dto.CoachDTO">
        <result property="name" column="name" />
    </resultMap>

    <!-- 선수 상세 조회 -->
    <select id="coachByCoachId" parameterType="int" resultMap="coachDetailMap">
        select c.name
        from coach c
        where c.coach_id = #{coachId}
    </select>

    <!-- coachDetailUpdateMap 정의 -->
    <resultMap id="coachDetailUpdateMap" type="com.letskuf.dto.CoachDTO">
        <result property="coachId" column="coach_id" />
        <result property="name" column="name" />
        <result property="birthDate" column="birth_date" />
        <result property="teamId" column="team_id" />
        <result property="typeGbn" column="type_gbn" />
        <result property="title" column="title" />
    </resultMap>

    <!-- 코칭스태프/임원 상세 조회 (수정용) -->
    <select id="coachUpdateListByCoachId" parameterType="int" resultMap="coachDetailUpdateMap">
        select c.coach_id
              ,c.name
              ,c.birth_date
              ,c.team_id
              ,c.type_gbn
              ,c.position as title
        from (
                 select coach_id
                      ,name
                      ,birth_date
                      ,team_id
                      ,type_gbn
                      ,position
                 from coach
                 where coach_id = #{coachId}
             ) c
                 left join team on c.coach_id = team.team_id
    </select>

    <!-- coachFileUpdateMap 정의 -->
    <resultMap id="coachFileUpdateMap" type="com.letskuf.dto.CoachFileDTO">
        <result property="originalFileName" column="original_file_nm" />
        <result property="storedFileName" column="stored_file_nm" />
    </resultMap>

    <!-- 코칭스태프/임원 사진 조회 (수정용) -->
    <select id="coachFileUpdateListByCoachId" parameterType="int" resultMap="coachFileUpdateMap">
        select c.original_file_nm
              ,c.stored_file_nm
        from coach_photo_file c
        where c.coach_id = #{coachId}
    </select>
</mapper>