<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Player">
    <!-- 선수 등록 -->
    <insert id="playerSave" parameterType="com.letskuf.dto.PlayerDTO" useGeneratedKeys="true" keyProperty="playerId">
        insert into player(
         name
        ,birth_date
        ,type_gbn
        ,height
        ,weight
        ,file_attached
        ) values (
         #{name}
        ,#{birthDate}
        ,#{typeGbn}
        ,#{height}
        ,#{weight}
        ,#{fileAttached}
        )
    </insert>

    <!-- 선수-팀 등록 -->
    <insert id="playerTeamSave" parameterType="com.letskuf.dto.PlayerDTO" useGeneratedKeys="true" keyProperty="playerTeamId">
        insert into player_team(
        player_id
        ,team_id
        ,position
        ,uniform_num
        ,grade
        ,join_year
        ) values (
         #{playerId}
        ,#{teamId}
        ,#{position}
        ,#{uniformNum}
        ,#{grade}
        ,#{joinYear}
        )
    </insert>

    <!-- 선수 수정 -->
    <update id="playerUpdate" parameterType="com.letskuf.dto.PlayerDTO">
        update player
           set name = #{name},
               birth_date = #{birthDate},
               height = #{height},
               weight = #{weight},
               file_attached = #{fileAttached}
         where player_id = #{playerId}
    </update>

    <!-- 선수-팀 수정 -->
    <update id="playerTeamUpdate" parameterType="com.letskuf.dto.PlayerDTO">
        update player_team
           set team_id = #{teamId},
               position = #{position},
               uniform_num = #{uniformNum},
               grade = #{grade},
          where player_id = #{playerId}
            and leave_year is null
    </update>

    <!-- 선수 삭제 -->
    <delete id="playerDelete" parameterType="int">
        delete
          from player
         where player_id = #{playerId}
    </delete>

    <!-- 선수-팀 삭제 -->
    <delete id="playerTeamDelete" parameterType="int">
        delete
          from player_team
         where player_id = #{playerId}
           and leave_year is null
    </delete>

    <!-- playerFileListMap resultMap 정의 -->
    <resultMap id="playerFileListMap" type="com.letskuf.dto.PlayerFileDTO">
        <result property="originalFileName" column="original_file_nm" />
        <result property="storedFileName" column="stored_file_nm" />
        <result property="playerId" column="player_id" />
        <result property="fileId" column="file_id" />
    </resultMap>

    <!-- 선수 사진 조회 -->
    <select id="playerFileListByPlayerId" parameterType="int" resultMap="playerFileListMap">
        select original_file_nm
             ,stored_file_nm
             ,player_id
             ,file_id
        from player_photo_file
        where player_id = #{playerId}
    </select>

    <!-- 선수 사진 등록 -->
    <insert id="playerFileSave" parameterType="com.letskuf.dto.PlayerFileDTO" useGeneratedKeys="true" keyProperty="fileId">
        insert into player_photo_file(
         original_file_nm
        ,stored_file_nm
        ,player_id
        ) values (
         #{originalFileName}
        ,#{storedFileName}
        ,#{playerId})
    </insert>

    <!-- 선수 사진 삭제 -->
    <delete id="playerFileDelete" parameterType="int">
        delete
          from player_photo_file
         where file_id = #{fileId}
    </delete>

    <!-- resultMap 정의 -->
    <resultMap id="playerListMap" type="com.letskuf.dto.PlayerDTO">
        <result property="playerId" column="player_id" />
        <result property="name" column="name" />
        <result property="birthDate" column="birth_date" />
        <result property="teamNm" column="team_nm" />
        <result property="position" column="position" />
        <result property="uniformNum" column="uniform_num" />
        <result property="grade" column="grade" />
        <result property="height" column="height" />
        <result property="weight" column="weight" />
    </resultMap>

    <!-- 선수 전체 조회 -->
    <select id="playerList" parameterType="com.letskuf.dto.PlayerDTO" resultMap="playerListMap">
        select p.player_id
              ,p.name
              ,p.birth_date
              ,t.team_nm
              ,pt.position
              ,pt.uniform_num
              ,pt.grade
              ,p.height
              ,p.weight
          from player p
          left join player_team pt
                 on p.player_id = pt.player_id
                 and pt.leave_year is null
          left join team t
                 on pt.team_id = t.team_id
           order by p.player_id asc
           limit #{recordCountPerPage} offset #{firstIndex}
    </select>

    <!-- 선수 전체 건수 조회-->
    <select id="playerListCnt" parameterType="com.letskuf.dto.PlayerDTO" resultType="java.lang.Integer">
        select COUNT(player_id)
        from player
    </select>

    <!-- playerDetailListMap resultMap 정의 -->
    <resultMap id="playerDetailListMap" type="com.letskuf.dto.PlayerDTO">
        <result property="uniformNum" column="uniform_num" />
        <result property="name" column="name" />
        <result property="position" column="player_position" />
        <result property="grade" column="grade" />
    </resultMap>

    <!-- 선수 상세 조회(teamId에 따른) -->
    <select id="playerListByTeamId" parameterType="int" resultMap="playerDetailListMap">
        select pt.uniform_num
              ,p.name
              ,pt.position
              ,pt.grade
          from player_team pt
           join player p
             on pt.player_id = p.player_id
          where pt.team_id = #{teamId}
            and pt.leave_year is null
          order by pt.uniform_num
    </select>

    <!-- playerDetailMap resultMap 정의 -->
    <resultMap id="playerDetailMap" type="com.letskuf.dto.PlayerDTO">
        <result property="name" column="name" />
    </resultMap>

    <!-- 선수 상세 조회 -->
    <select id="playerByPlayerId" parameterType="int" resultMap="playerDetailMap">
        select p.name
          from player p
         where p.player_id = #{playerId}
    </select>

    <!-- playerDetailUpdateMap 정의 -->
    <resultMap id="playerDetailUpdateMap" type="com.letskuf.dto.PlayerDTO">
        <result property="playerId" column="player_id" />
        <result property="name" column="name" />
        <result property="birthDate" column="birth_date" />
        <result property="teamId" column="team_id" />
        <result property="typeGbn" column="type_gbn" />
        <result property="position" column="position" />
        <result property="uniformNum" column="uniform_num" />
        <result property="grade" column="grade" />
        <result property="height" column="height" />
        <result property="weight" column="weight" />
    </resultMap>

    <!-- 선수 상세 조회 (수정용) -->
    <select id="playerUpdateListByPlayerId" parameterType="int" resultMap="playerDetailUpdateMap">
        select p.player_id
              ,p.name
              ,p.birth_date
              ,pt.team_id
              ,p.type_gbn
              ,pt.position
              ,pt.uniform_num
              ,pt.grade
              ,p.height
              ,p.weight
          from player p
          left join player_team pt
                 on p.player_id = pt.player_id
                and pt.leave_year is null
         where p.player_id = #{playerId}
    </select>

    <!-- playerFileUpdateMap 정의 -->
    <resultMap id="playerFileUpdateMap" type="com.letskuf.dto.PlayerFileDTO">
        <result property="originalFileName" column="original_file_nm" />
        <result property="storedFileName" column="stored_file_nm" />
    </resultMap>

    <!-- 선수 사진 조회 (수정용) -->
    <select id="playerFileUpdateListByPlayerId" parameterType="int" resultMap="playerFileUpdateMap">
        select p.original_file_nm
              ,p.stored_file_nm
        from player_photo_file p
        where p.player_id = #{playerId}
    </select>

</mapper>